/* Entire Page */
body{
  font-family: "Nunito", sans-serif;
}
section {
    padding: 60px 0;
  }

/* Image style to make rounded corners */
.rounded-rectangle {
    border-radius: 15px; /* Adjust this value to change the roundness */
    overflow: hidden; /* This will clip the corners */
}

.card {
  background-color: #d0f4fc; /* Teal */
}

.card-title, .card-subtitle, .card-text {
  color: inherit;            /* Ensures all text inside the card inherits the same cream color */
}

.card-subtitle {
  color: #fafafa;            
}

.card-title {
  color: #00008B; 
}
.background {
  background-color: d0f4fc; /* Light gray background for subtle contrast */
}
/* icons */
.custom-icon {
  font-size: 100px; /* Change the size as needed */
  color: #00008B;    /* Change the color as needed */
}
.header-color {
  color: #00008B;
}
/* stars */
.custom-icon2{
  color:#00008B ;
}