/* Entire Page */
section {
    padding: 60px 0;
  }

/* Image style to make rounded corners */
.rounded-rectangle {
    border-radius: 15px; /* Adjust this value to change the roundness */
    overflow: hidden; /* This will clip the corners */
}

.card {
  background-color: #008080; /* Teal */
  color: #ebeb5d;            /* Cream */
}

.card-title, .card-subtitle, .card-text {
  color: inherit;            /* Ensures all text inside the card inherits the same cream color */
}

.card-subtitle {
  color: #fafafa;            /* Slightly lighter shade of cream for subtitles, if needed */
}
